h1 {
    text-align: center;
    text-shadow: 0px 0px 10px rgb(255, 119, 255);
    font-size: 80px;
    color: white;
}
h1:hover {
    text-shadow: 0px 0px 30px rgb(248, 248, 158);

}
article{
  text-align: justify;
  margin: 80px;
}
p {
    color: white;
}
a:hover{
    text-decoration:dashed; 
    text-shadow: 2px 0px 15px #994bf7;
}
.list  {
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    
}
section {
    background-color: #cba1ff;
    border: 50px;
    margin: 100px;
    border-radius: 10px;
    padding: 30px;
}
body {
    background-color: #ffe4a4;
}
.container {
    max-width: 900px;
    margin: auto;
}
.item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px;
}
.item img {
    width: 250px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}
.text {
    flex: 1;

}
.text p{
    margin: 0;
    color: #994bf7;
}
.confetti {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(circle, #ff4d4d 3px, transparent 4px),
        radial-gradient(circle, #ffd24d 3px, transparent 4px),
        radial-gradient(circle, #4dff88 3px, transparent 4px),
        radial-gradient(circle, #6bc4ff 3px, transparent 4px),
        radial-gradient(circle, #ff66ff 3px, transparent 4px);

    background-size: 200px 200px;
    animation: fall 6s linear infinite;
}

@keyframes fall {
    from {
        background-position: 0 0, 50px 50px, 100px 0, 150px 50px, 200px 0;
    }
    to {
        background-position: 0 1000px, 50px 1050px, 100px 1000px, 150px 1050px, 200px 1000px;
    }
}