.container {
    display: flex;
    align-items: center;
    width: 400px;
}
h1 {
    text-align: center;
    text-decoration: underline dotted;
    color: #994bf7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 0px 15px #FFD166 ;
}
footer{
    clear: both;
}
.card {
    height: 200px;
    flex: 1;
    transition: .7s;

}
.confetti {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(circle, #ff4d4d 3px, transparent 4px),
        radial-gradient(circle, #ffd24d 3px, transparent 4px),
        radial-gradient(circle, #4dff88 3px, transparent 4px),
        radial-gradient(circle, #6bc4ff 3px, transparent 4px),
        radial-gradient(circle, #ff66ff 3px, transparent 4px);

    background-size: 200px 200px;
    animation: fall 6s linear infinite;
}

@keyframes fall {
    from {
        background-position: 0 0, 50px 50px, 100px 0, 150px 50px, 200px 0;
    }
    to {
        background-position: 0 1000px, 50px 1050px, 100px 1000px, 150px 1050px, 200px 1000px;
    }
}
.card:hover {
    flex: 3;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a:hover{
    text-decoration:dashed; 
    text-shadow: 2px 0px 15px #994bf7;
}
 
.list  {
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    
    
}
.link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.slider {
    width: 600px;
    height: 350px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 10px 25px;
    display: flex;
    align-items: center;
}
.slides {
    display: flex;
    width: 400%;
    height: 100%;
    animation: slide 16s infinite;
}
.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes slide {
    0% {transform: translateX(0%);}
     20% {transform: translateX(0%);}
      25% {transform: translateX(-100%);}
       45% {transform: translateX(-100%);}
50% {transform: translateX(-200%);}
            100% {transform: translateX(0%);}
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}
.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px #994bf7;
}
p {
background-color: #994bf7;
color: white;
text-align: center;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
}